{%- macro infobox(BookName, author, publisher,LANG_CODE,PLACE_OF_PUB,YEAR_OF_PUB) -%}
	{{'{{Infobox book'}}
		| name		= {{BookName}}
		| author	= {{author}}
		| language     = {{LANG_CODE}}
		| publisher		= {{publisher}}
		| publisher2   =   {{PLACE_OF_PUB}}
		| pub_date       =   {{YEAR_OF_PUB}}
		
		
	{{'}}\n'}}
{%- endmacro -%}

{%- macro Intro(BookName,author,LANG_CODE)-%}
{%- set line =[
			BookName + " అనే పుస్తకాన్ని " +author+" గారు రచించారు. "+
			"ఈ పుస్తకం " + LANG_CODE +"భాషలోనిది." , "ఈ పుస్తకం పేరు "+ BookName + "."+ "ఈ పుస్తకం " + LANG_CODE +" భాషలో రచించబడినది."
		]|random
	-%}
	{{line}}

{%- endmacro -%}

{%- macro History(BookName,author,publisher,PLACE_OF_PUB,YEAR_OF_PUB) -%} {#Add more sentences based on review#}
    
   

	{%- if publisher != 'nan' -%}
        {%- set line1= [author +" వ్రాసిన  "+BookName+" పుస్తకానికి "+publisher+"  ప్రచురణకర్త."] |join('') -%}
        {{ [ line1 ] | random }}
    {%- endif -%}

	 {%- if PLACE_OF_PUB!= 'nan' -%}
        {%- set line1= ["ఈ పుస్తకం మొట్టమొదటిసారిగా "+PLACE_OF_PUB+" లో ప్రచురించబడింది." , PLACE_OF_PUB + " లో ఈ పుస్తకం మొదటి సారిగా ప్రచురించబడింది ." ] |random -%}
	    {{ [ line1] | random }}
	
    {%- endif -%}
    
    {%- if YEAR_OF_PUB!= 'nan' -%}
        {%- set line1= ["ఈ పుస్తకాన్ని "+ YEAR_OF_PUB + " సంవత్సరంలో ప్రచురించారు. " , YEAR_OF_PUB + " సంవత్సరంలో ఈ పుస్తకం ముద్రించబడినది." ] |random -%}
	    {{ [ line1] | random }}
	
    {%- endif -%}

{%- endmacro -%}

{%- macro About(BookName,PAGINATION,ISBN,ITEM_RUPEES,author) -%} {#Add more sentences based on review#}
    
   {%- if PAGINATION != 'nan' -%}
        {%- set line1= [author +" రచించిన "+BookName+" పుస్తకంలో "+PAGINATION+" పేజీలు ఉన్నాయి.", "ఈ పుస్తకంలో " + PAGINATION+" కలిగి ఉన్నాయి."  ] |random -%}
        {{ [ line1 ] | random }}
    {%- endif -%}

   {%- if ISBN != 'nan' -%}
        {%- set line1= ["ఈ పుస్తకం యొక్క అంతర్జాతీయ ప్రామాణిక పుస్తక సంఖ్య "+ ISBN + ".", ISBN+" అంతర్జాతీయ ప్రామాణిక పుస్తక సంఖ్య కలిగి ఉన్న పుస్తకం ఇది."
] |random -%}
        {{ [ line1 ] | random }}
    {%- endif -%}

  {%- if ITEM_RUPEES != 'nan' -%}
        {%- set line1= ["ఈ పుస్తకం యొక్క ధర " + ITEM_RUPEES + " రూపాయిలు.", "ఈ పుస్తకం ధర " + ITEM_RUPEES +" రూపాయిలు."
 ] |random -%}
        {{ [ line1 ] | random }}
    {%- endif -%}

{%- endmacro -%}


{#Main article is generated from here#}

{{-infobox(BookName, author, publisher,LANG_CODE,PLACE_OF_PUB,YEAR_OF_PUB)}}
{{Intro(BookName,author,LANG_CODE)}}
{{ History(BookName,author,publisher,PLACE_OF_PUB,YEAR_OF_PUB) }}
{{ About(BookName,PAGINATION,ISBN,ITEM_RUPEES,author) }}
{# Code for References #}